@import "tailwindcss";
@plugin "daisyui";

@import url("https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap");

@layer utilities {
  .share-tech-mono-regular {
    font-family: "Share Tech Mono", monospace;
    font-weight: 400;
    font-style: normal;
  }
}
html {
  scroll-behavior: smooth;
}

body{
    font-family: share-tech-mono-regular;
    background-image: url('./assets/pattern_1756378312800.svg');
}